/* Load font family */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');

/* Custom properties */
:root {
    /* Colors */
    --clr-white: #FFFFFF;
    --clr-black: #000000;

    --clr-neutral-300: #E0E9F5;

    --clr-primary-600: #1E2433;
    --clr-primary-700: #181A23;
    --clr-primary-800: #10121A;

    --gradient-primary: #000AFF, #9E00FF;
    --gradient-accent: #ADFF00, #00FFA3;

    /* Font styling */
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-900: 2.25rem;

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --ff-sans-serif: manrope, system-ui, sans-serif;
}

/* Styling */

/* Simpler sizing & spacing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

ul,
ol {
    list-style: none;
}


body {
    color: var(--clr-black);
    background: var(--clr-primary-600);

    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    font-family: var(--ff-sans-serif);
}

h1 {
    background: linear-gradient(var(--gradient-primary));
    background-clip: text;
    color: transparent;

    font-size: var(--fs-900);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 0.5em;

    background: var(--clr-primary-700);
}

.header_cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
    background: linear-gradient(var(--gradient-primary));
    border-radius: 100vmax;
    width: 3em;
    aspect-ratio: 1/1;
}

.header_cart-background {
    display: flex;
    justify-content: center;

    background: var(--clr-neutral-300);
    border-radius: 100vmax;
    width: 100%;
    aspect-ratio: 1/1;
}

header img {
    width: 80%;
}

header::after {
    content: "";
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;

    background: linear-gradient(90deg, var(--gradient-primary));
}

main {
    display: grid;
    grid-template-columns: 1fr;

    margin: 1.25em;
    gap: 1em;
}

main > div {
    display: flex;
    position: relative;

    gap: 0.325em;

    background: var(--clr-neutral-300);
    border-radius: 0.5em;
}

main > div > img {
    height: 9rem;
    border-radius: 0.5em;
}

main h2 {
    font-size: var(--fs-600);
}

main p:nth-child(2) {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
}

main p:nth-child(3) {
    display: none;
}

main button {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;

    width: 3rem;
    aspect-ratio: 1/1;

    background: linear-gradient(var(--gradient-accent));
    border: none;
    border-radius: 100vmax;
}

main button img {
    width: 70%;
}

footer {
    display: flex;
    flex-direction: column;

    gap: 1.25em;
    padding: 0.75rem;

    background: var(--clr-primary-700);
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.325em;
}

footer ul a {
    color: var(--clr-white);
    text-decoration: none;
}

footer li:first-child a {
    font-weight: var(--fw-bold);
}

.footer_button {
    display: block;

    margin: 0 3rem;
    padding: 0.25rem;

    font-weight: var(--fw-bold);
    text-align: center;
    text-decoration: none;

    color: var(--clr-black);
    background: var(--clr-neutral-300);
    border-radius: 100vmax;
}
